body,
html {
    height: 100%;
    margin: 0;
    padding: 0;

}

.bg-image {
    background-image: url('/public/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;

}

.logo-image {
    border-radius: 50%;
    overflow: hidden;
}
