/* .clear {
	clear:both;
}


ul{
	margin:0;
	padding:0;
} */

/* img {
    width: 100%;
}  */



/* 
.anim span{
	width: 23%;
}
.anim span{
	text-align: center;
	color: #fff;
	letter-spacing: 1px;
} */



